*{

    padding: 0;
    margin: 0;
}
header{
   width: 100%;
  
   top: 0;
   z-index: 99;
   background-color: white;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.head img{
    width: 100px;
}
.head hr{
    width: 300px;  
}
.head-title{
    line-height: rem;
    font-family: 'Times New Roman', Times, serif;
}
.head-title h2{
    font-weight: 200;
    letter-spacing: 2px;
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 133, 204);
   color: white;
   align-items: center;
   height: 50px;  
}
.navbar{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
nav button{
   background-color: transparent;
   border: 0;
   font-size: 1vw;
   color: white;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   justify-content: space-between;   
}
nav div{
    display: flex;
    gap: 5px;
}
nav div p{
    font-size: 1vw;
}
.home {
    position: relative;
    display: inline-block;
    width: 100%;
    
    
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .home img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
    
  }
  
  .home-titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 2; 
  }
  .home-titles h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 3.5vw;
  }
  .home-titles h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2vw;
    margin-top: 15px;
  }
  .home-titles button {
    background-color:transparent; 
    color: white;
    border-color: white;
    height: 50px;
    width: 250px;
    margin-top: 15px;
    border-width: 1px;
  }
  .social-icons {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 15px;
  }
  .cards {
    width: 100%!important; 
    height: auto;
    background: linear-gradient(rgb(28, 133, 204), rgb(250, 250, 250)) ;
    margin-top: -3px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }
  .cards div{
    background-color: white;
    width: 250px;
    height: 170px;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-bottom: 17px; 
}
  .cards img{
    width: 210px;
    height: 120px;
    object-fit: cover;
    margin-top: .5rem;
  }
  .cards h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: rgb(28, 133, 204);
  }
  .abt-hospital{
  display: flex;
  margin-top: 3rem;
  gap: 15px;
  width: 100%;
  justify-content: center;


   
  }
  article h5{
    text-align: center;
    margin-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 133, 204);
    font-weight: 200;
    letter-spacing: 1px;
  }
  .abt-hospital img{
    width: 400px!important;
    height: 250px;
    object-fit: cover;
  
    
  }
  .abt-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .abt-text h2{
    text-align: center;
    color: rgb(75, 72, 72);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
  }
  .abt-text p{
    line-height: 25px;
    color: grey;
    font-weight: 100;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 
  .abt-text button{
   
    margin-top: 1rem;
    width: 99px;
    height:28px;
    background-color: white;
    border-color:rgb(28, 133, 204) ;
   color:rgb(28, 133, 204) ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 .dr-sec{
  display: flex!important;
  width: 80%;
 justify-content: space-around!important;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-left: 60px;
  
 }
 .dr-title{
  color: #2596be;
  text-align: center;
  margin-top: 4rem;
 }
 .dr-sec-texts{
  background: url('./images/bg-card.png');

  display: flex;
  width: 50%;
  border-radius: 10px;
  height: auto;
  align-items: center;

 }
 .dr-sec-text h3{
color: rgb(77, 76, 76)!important;
font-family: 'Times New Roman', Times, serif;
font-weight: 100;
 }
 .dr-sec-text p{
  color: rgb(77, 76, 76);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 25px;
 }
 .dr-sec-img img{
  width: 300px!important;
 }
 


.dr-card h2{
  text-align: center;
  margin-top: 5rem;
  color: rgb(28, 133, 204);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

.abt-doctor-card img {
  height: auto;
  border-radius: 20px;
}

.text-overlay {
width: 500px;
  text-align: center;
  color: white; 
  display: flex;
  
  justify-content: center;
line-height: 25px;
 flex-direction: column;
 padding-top: 2rem;
 background: url(./images/bg-card.png);
 border-radius: 20px;
}

.text-overlay h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(59, 56, 56) ;
  font-weight: 100;
  margin-top: 1rem;
}
.text-overlay p {
  font-size: 13px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(59, 56, 56);
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.dr-img{
  display: flex;
  align-items: center;
}
.dr-img img{
  object-fit: cover;
  align-items: center;
}
.cmpny-logos{
gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 90%;

}
.cmpny-logos img{
  width: 100px;
  height: 100px;
}

.service{
  margin-top: 2rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
  width: 100%;
  height:auto;
  background: linear-gradient( rgb(196, 228, 244), rgb(255, 253, 253) 50%, white 50% ,rgb(196, 228, 244), rgb(196, 228, 244));
}
.service h3,.reviews h3,.gallery h3{
text-align: center!important;
font-family: 'Times New Roman', Times, serif;
color: rgb(28, 133, 204);
font-weight: 100;
}
.service-section{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
flex-wrap: wrap;

}
.service-section div{
  background-color:#2596be;
  width: 150px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-top: 2rem;
}
.service-section img{
  width: 80px;
  height: 80px;
  align-items: center;
}
.reviews{
  display: flex;
  justify-content:center ;
  margin-top: 6rem;
  flex-direction: column;
  align-items: center;
}
.review-card{
  display: flex;
  background-color: rgb(28, 133, 204);
  gap: 10px;
  border-radius: 8px;
  margin-top:5rem;

 width: 40%;
  align-items: center;
  padding: 13px;

}
.review-image{
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
 
}
.review-card img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items:center ;
}
.review-card h4{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}
.review-card span{
  color: gold;
}
.review-card h6{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.review-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.review-card-1{
  display: flex;
  background-color: rgb(28, 133, 204);
  width: 300px;
  margin-top: 3rem;
  height: 130px;
  justify-content: center;
  padding-top: 1rem;
  line-height: 19px;
  border-radius: 10px;
}
.review-card-1 h3{
  font-size: 30px;
  color: white;
  display: inline;
  margin: 0;
}
.review-card-1 span{
  color: gold;
  font-size: 10px;
  display: inline;
  margin: 0;
}
.review-card-1 p{
  display: inline;
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

}
.profile-cards{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} 
.profile-pic{
  background-color:#e1a6c6 ;
  width: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.profile-pic-1{
  width: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(207, 27, 159);
}
.profile-pic-2{
  width: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(121, 20, 152);
}
.profile-pic h3 , h4{
  color: rgb(201, 196, 196)
}
.profile-pic-1 h3,.profile-pic-2 h3{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
.profile-name h4{
  color: rgb(78, 75, 75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100; 
}
.view-btn{
  background-color: rgb(34, 33, 33);
  color: white;
  margin-top: 3rem;
  width: 30%;
  height: 40px;
  border: none;
}
.info-sec{
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between!important;
  margin-top: 5rem;
  margin-left: px;
 
  
}
.info-texts p{
  font-size: 1vw!important;
}
.info-texts h2{
  font-size: 2vw!important;
}
.info-texts{
display: flex!important;
flex-direction: column;
align-items: center!important;
justify-content: center;
line-height: 35px;
}
.info-sec-img img{
width: 450px;
height: 300px;
}
.info-texts h2,h3{
  color: rgb(0, 128, 115)!important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  text-align: center;
  line-height: 40px;  

}.info-texts p{
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}
.info-text{
  display: flex;
  justify-content: center;
}
.pad{
  width: 50%;
height: 250px;
object-fit: cover;
}
.gallery{
  margin-top: 4rem;
}
.gallery-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
  margin-top: 3rem;
}
.gallery-img img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.footer-section{
  display: flex;
  background-color: rgb(28, 133, 204);
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
.footer-img{
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;
 
}
.footer-img img{
  width: 90%;
  height: 300px;
  border-radius: 8px;
}
.footer-texts{
  display: flex;
   gap: 100px;
  width: 50%;
  text-align: center;
  justify-content: center;
}
.footer-first-sec h3,.footer-first-sec h4,.footer-scnd-sec h3 {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.footer-first-sec p,.footer-scnd-sec p{
  color: white;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  line-height: 10px;
  margin-top: 9px;
}

 
.footer-sub h5{
  line-height: 10px;
  font-weight: 100;
  margin-top: 9px;
}
.footer-sub div{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 10px;
}

@media(max-width:860px){
  .abt-hospital{
    display: flex;
    flex-direction: column;
  }
  .abt-hospital img{
    width: 100%!important;
}
.text-overlay {
  width: 400px!important;
  
}
.dr-img img{
  width: 300px;
}
.dr-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.dr-sec-texts,.dr-sec-img{
  display: flex!important;
  justify-content: center!important;
  width: 100%;
}
.info-sec{
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  align-items: center;
}
.info-sec h2{
  font-size: 20px!important;
}
.info-sec p{
  font-size: 13px!important;
}
}

@media(max-width:540px){
    .head img{
        width: 50px;
    }
   
    .head hr{
        width: 150px;
    }
    .head h2{
        font-size: 9px;    
    }
    .head p{
        font-size: 7px;
    }
    .head-title{
        line-height: 15px;
    }
    .home{
      width: 100%;
    }
    nav{
      width: 100%;
    }
    .navbar{
       width: 90%;   
    }
    nav button,nav div p{
        font-size: 6.5px;
    }
    .home-titles button {
       width: 100px;
       font-size: 8px;
       height: 20px; 
    }
    
    .cards{
        margin-top: px;
        width: 100%!important;
        
    }
    .abt-hospital{
display: flex;
flex-direction: column;
justify-content: center;


 

    }
    .abt-hospital img{
        width: 99%!important;
        margin-left: 1px;
    }
    .abt-hospital-texts{
        width:100px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 50px;
        flex-wrap: wrap;
        font-size: 10px;
        
    }
    .dr-sec-texts,.dr-sec-img{
     margin-left: -60px;
    }
    .dr-card {
      display: flex;
      flex-direction: column;
    }
    .dr-card h2{
      font-size: 13px;
    }
    .text-overlay {
      width: 200px!important;
   
      
    }
    .text-overlay h3{
      font-size: 13px;
    }
    .text-overlay p{
      font-size: 8px;
    }
    .dr-img img{
      width: 180px;
    }
    .service-section div{
      width: 80px;
      height: 80px;
      margin-top: 0;
      
    }
    .service-section{
      margin-top: 2rem;
    }
    .review-card{
      width: 90%;
    }
    .info-section{
     margin-left: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .info-texts {
      width:50%;
    
    }
    .info-text img{
      width: 15px;
      height: 15px;
      align-items: center;
      margin-top: 12px;
    }
    
    .info-texts h2,h3{
      font-size: 12px;
    }
    .info-sec h2{
      font-size: 13px!important;
    }
    .info-sec p{
      font-size: 8px!important;
    }
    .info-sec-img img{
      width: 300px;
    }
    .profile-pic,.profile-pic-1,.profile-pic-2{
      width: 50px;
      height: 50px;
    }
    .prfl-name,.profile-name{
      font-size: 12px;
    }
    .profile-card{
      margin-top: 1rem;
    }
    .footer-section,.footer-texts{
      width: 100%;
    }
    .footer-img img{
      height: 200px;
    }
    .footer-sub div{
     text-align: center;
    }
    .footer-first-sec h3,.footer-first-sec h4,.footer-scnd-sec h3 {
      font-size: 10px;
    }
    .footer-first-sec p,.footer-scnd-sec p{
      font-size: 8px;
    }
    .footer-texts{
      gap: 0;
      display: flex;
      justify-content: space-around;
    }
   

   
    
}
